/**
 *
 * 7. BUTTONS / GET APP
 * 
 */
.downloadButton {
  border: 2px solid #9da0a2;
  -webkit-border-radius: 19px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  color: $gray;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  margin: 0 15px;
  display: inline-block;
  span.dlcol {
    font-size: 12px;
    vertical-align: middle;
    text-transform: uppercase;
    margin-left: 20px;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
	}
	span.dlwhite {
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
	}
	i {
    font-size: 28px;
    vertical-align: top;
    margin-right: 20px;
    //transition: color 0.3s;
    //-webkit-transition: color 0.3s;
	}
	&:hover {
    background: $gray;
    border-color: $gray;
    text-decoration: none;
    span.dlwhite {
	    color: $white;
		}
		span.dlcol {
    	color: $highlight_color;
		}
	}
}
.version {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 50px;
  span {
    font-weight: 500;
	}
}
.downloads {
  position: absolute;
  right: 0;
  bottom: -105px;
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 50px;
  text-align: right;
  span {
    font-weight: 500;    
	}
}
.phoneWrap {
	.getappPhone {
		position: relative;
		left: -100px;
		top: 30px;
 }
 .lines {
    position: absolute;
    left: -70px;
    top: 30px;
	}
}
.headerButton {
  color: $white;
  text-transform: uppercase;
  font-size: 18px;
  border: 2px solid $white;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  transition: color 0.5s, border-color 0.5s;
  &:hover {
    color: $highlight_color;
    border-color: $highlight_color;
	}
}
ul {
	padding-left: 15px;
	li {
    padding: 0;
    margin:20px 0;    
	}
}