/**
 *
 * 
 * 2. HEADER SECTION (menu&slider)
 *
 * 
 */
#topContainer {
	background: url('../img/background.jpg') no-repeat center;
	background-size: cover;
	overflow: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	perspective: 2000px;
}
.wireframe1 {
  width: 100%;
  height: 100%;
  background: url('../img/wireframe.png') 0 0 repeat;
  position: absolute;
  top: 0;
  z-index: 2;
  transform: scale(1.2, 1.2);
  -webkit-animation: mymove 60s infinite linear;
  animation: mymove 60s infinite linear;
  backface-visibility: hidden;
}
@-webkit-keyframes mymove {
  0% {background-position: 0% 0%;}
  48% {background-position: 950px -530px;}
  50% {background-position: 960px -540px;}
  50% {background-position: 970px -530px;}
  100% {background-position: 1920px 0%;}
} 
@keyframes mymove {
  0% {background-position: 0% 0%;}
  48% {background-position: 950px -530px;}
  50% {background-position: 960px -540px;}
  50% {background-position: 970px -530px;}
  100% {background-position: 1920px 0%;}
} 
#contentWrapper {
  position: relative;
  z-index: 10;
  top: 0px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
#navigationWrap {
	position: relative;
	padding: 75px 15px 40px;
	z-index: 3;
}
.menuWrap {
  text-align: right;
}
.mainMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 20px;
	li {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    a {
	    color: $white;
	    line-height: 14px;
	    padding: 10px 20px;
	    text-decoration: none;
	    background: transparent;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    border: none;
	    outline: none;
	    &:hover {
		    color: $highlight_color;
	    }
		}
	}
}
.slider {
  height: 700px;
  position: relative;
  z-index: 5;
  bottom: -35px;
}
.sliderWrap {
  position: relative;
  height: 700px;
  img {
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
	}
}
.sliderActive {
  opacity: 1 !important;
  transform: translateY(0) !important;
  -webkit-transform: translateY(0px) !important;
}
.rightSlider,
.leftSlider {
  color: $white;
  cursor: pointer;
}
.rightSlider {
  text-align: right;
}
.sliderButtons {
  position: relative;
  z-index: 5;
  text-align: center;
  bottom: 35px;
}
.sliderButton {
  width: 23px;
  height: 23px;
  border: 2px solid $white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  cursor: pointer;
}
.sliderButtonActive {
  background: $white;
  cursor: default;
}
.leftSemi,
.rightSemi {
  padding: 0px;
  margin-top: 250px;
}
.leftSemi {
  text-align: right;
  semicircle1 {
    height:340px;
    width:100%;
    border-radius: 340px 0px 0% 340px;
    border: 2px solid $white;
    border-right: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
	}
	.semicircle2 {
    height:250px;
    width:80%;
    border-radius: 250px 0% 0% 250px;
    border: 2px solid $white;
    border-right: 0;
    position: absolute;
    top: 45px;
    right: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
	}
	.lineTop {
    position: absolute;
    top: 0;
    right: 0;
    border-right: 2px solid $white;
    height: 45px; 
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
	}
	.lineBot {
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 2px solid $white;
    height: 43px; 
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
	}
}
.rightSemi {
	.semicircle1 {
    height:340px;
    width:100%;
    border-radius: 0px 340px 340px 0px;
    border: 2px solid $white;
    border-left: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  .semicircle2 {
    height:250px;
    width:80%;
    border-radius: 0 250px 250px 0;
    border: 2px solid $white;
    border-left: 0;
    position: absolute;
    top: 45px;
    left: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
	}
	.lineTop {
    position: absolute;
    top: 0;
    left: 0;
    border-right: 2px solid $white;
    height: 45px; 
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
	}
	.lineBot {
    position: absolute;
    bottom: 0;
    left: 0;
    border-right: 2px solid $white;
    height: 43px; 
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
	}
}
.leftSemi p,
.rightSemi p {
  font-size: 24px;
  color: $white;
  padding: 155px 0;
  cursor: pointer;
  position: relative;
  z-index: 5;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  &:hover {
	  color: $highlight_color;
  }
}
.leftSemi p {
	text-align: right;
}
.rightSemi p {
	text-align: left;
}
.rightSemi:hover {
	.lineBot,
	.lineTop,
	.semicircle2,
	.semicircle1 {
    border-color: $highlight_color;
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,31,0.3);
    box-shadow: 12px 0 5px 0px rgba(255,255,31,0.05);
	}
}
.leftSemi:hover {
	.lineBot,
	.lineTop,
	.semicircle2,
	.semicircle1 {
		border-color: $highlight_color;
		-webkit-box-shadow: 0 0 5px 1px rgba(255,255,31,0.3);
		box-shadow: -12px 0 5px 0px rgba(255,255,31,0.05);
	}
}
#followMenu {
  width: 100%;
  position: fixed;
  background: #1b1c1e; 
  background-size: cover;
  padding: 10px 0;
  z-index: 20;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid $gray;
  transform: translateY(-77px);
  -webkit-transform: translateY(-77px);
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  .mainMenu {
	  margin: 0 auto;
	  li a {
    	color: $gray;
    }
	}
	img {
    max-height: 100%;
    height: 50px;
	}
}
#followMenu .mainMenu li a:hover,
#followMenu .mainMenu .menuActive a{
	color: $highlight_color !important;
}
#responsiveMenuToggle {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 20;
  padding: 10px;
  font-size: 30px;
  background: #41454a;
  display: none;
  cursor: pointer;
  color: $highlight_color;
}